includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - cartoblocks-for-leaflet.php
        - src/leaflet-map-block/render.php
        - includes
    excludePaths:
        - vendor (?)
        - node_modules (?)
        - build (?)
    scanFiles:
        - phpstan-stubs.php
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
