includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - blocks-for-leaflet-map.php
        - src/leaflet-map-block/render.php
        - includes
    excludePaths:
        - vendor
        - node_modules
        - build
        - includes/class-tgm-plugin-activation.php
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - includes/class-tgm-plugin-activation.php
